!!!
%html{ prefix: "og: http://ogp.me/ns#" }
  %head
    %title Fika - More of your time.
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link{href: "#{asset_path('favicon.png')}", rel: "shortcut icon"}/
    %meta(property="og:title" content="Fika")/
    %meta(property="og:description" content="More of your time")/
    %meta(property="og:type" content="website")/
    %meta(property="og:url" content="http://www.wefika.com")/
    %meta(property="og:image" content="#{asset_path('logo_fb.png')}")/

  %body
    .centered
      = image_tag "logo.png", class: 'logo'

      .download
        = link_to ios_url do
          = image_tag 'apple.png'
        = link_to android_url do
          = image_tag 'google.png'

      = form_tag "http://wefika.us7.list-manage2.com/subscribe/post?u=ed065d37661d54e1b3418a096&amp;id=487f0935b0", method: "post", class: "signup" do
        = text_field_tag "EMAIL", nil, class: "email", placeholder: "enter email address", width: 300, height: 200
        = submit_tag "Sign up", name: "subscribe", class: "btn"


    .links
      %a{class: 'privacy-link'} Privacy Policy
      &sdot;
      %a{class: 'terms-link'} Terms of Use

    .popup-container{id: 'terms-popup'}
      .popup
        .popup-header
          = image_tag('close.png', class: 'close-btn')
          %h1{class: 'terms-logo'}
            = image_tag 'logo_300.png', class: 'logo'
            Terms of Use
        .popup-terms
          = render partial: 'static/terms'

    .popup-container{id: 'privacy-popup'}
      .popup
        .popup-header
          = image_tag('close.png', class: 'close-btn')
          %h1{class: 'terms-logo'}
            = image_tag 'logo_300.png', class: 'logo'
            Privacy Policy
        .popup-terms
          = render partial: 'static/privacy'
